**

!*/
!.editorconfig
!.gitattributes
!.dockerignore
!.gitignore
!.markdownlint-cli2.jsonc
!LICENSE
!Makefile
!README.md
!SECURITY.md

!.github/
!.github/CODEOWNERS
!.github/PULL_REQUEST_TEMPLATE.md
!.github/renovate.json5
!.github/workflows/
!.github/workflows/*.yaml

!containers/
!containers/Dockerfile

!contracts/
!contracts/*.json

!docs/
!docs/**/*.md
!docs/**/.gitkeep

!examples/
!examples/*.hcl
!examples/*.json

!tests/
!tests/*.sh

!tools/
!tools/*.py
!tools/*.sh
